.calculatorContainer {
    width: 30vw;
    height: 80vh;
    position: relative;
    left: 35%;
    font-family: 'Roboto', sans-serif;
}
.calculator {
    height: 100%;
    width: 100%;
    position: relative;
    top: 45%;
    left: 45%;
    transform: translate(-45%,-38%);
    border: 1px solid #000000;
}

.screen-container {
    height: 20%;
    padding: 0 !important;
}

.screen {
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    background: #ECECEC;
}

.output {
    position: relative;
    top: 45%;
    left: 20%;
    transform: translateY(-45%);
}

.calcBody {
    height: 80%;
    margin: 0;
    padding: 0 !important;
    background: #913D88;
}

.numericalContainer {
    height: 100%;
    padding: 0 !important;
}

.calcRowOne,
.calcRowTwo,
.calcRowThree,
.calcRowFour,
.calcRowFive,
.calcRowSix {
    height: 20%;
    padding: 0 !important;
}

.calcRowOne {
    background: #F89406;
}

.darkOrange {
    background: #D35400;
}

.clear,
.button {
    height: 100%;
    border: .001em solid #000000;
    text-align: center;
    transition: all .1s;
    color: #ffffff;
}

h3 {
    position: relative;
    top: 15%;
    transform: translateY(-15%);
}

.operatorContainer {
    height: 100%;
    box-sizing: border-box;
    padding: 0 !important;
    background: #2C3E50;
    color: #ffffff;
}

.operator {
    text-align: center;
    height: 20%;
    box-sizing: border-box;
    border: 1px solid black;
}

.whitePress {
    background: #D2D7D3;
    color: black;
}

.circle {
    border-radius: 50%;
    background: #F89406;
    color: #000000;
}

.square {
    border-radius: 0%;
}

h3  {
    text-align: center;
}

.expand {

}

